In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/datasets/airport-codes/refs/heads/main/data/airport-codes.csv")

In [3]:
df = df.fillna(-1)

In [4]:
df[df["iata_code"] != -1]

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
240,03N,small_airport,Utirik Airport,4.0,OC,MH,MH-UTI,Utirik Island,03N,UTK,03N,"11.222219, 169.851429"
476,07FA,small_airport,Ocean Reef Club Airport,8.0,-1,US,US-FL,Key Largo,07FA,OCA,07FA,"25.325399398804, -80.274803161621"
511,07TE,small_airport,Cuddihy Field,39.0,-1,US,US-TX,Corpus Christi,07TE,CUX,07TE,"27.7211, -97.512802"
726,0CO2,small_airport,Crested Butte Airpark,8980.0,-1,US,US-CO,Crested Butte,0CO2,CSE,0CO2,"38.851918, -106.928341"
1030,0NM0,small_airport,Columbus Airport,4024.0,-1,US,US-NM,Columbus,0NM0,CUS,0NM0,"31.823898, -107.629924"
...,...,...,...,...,...,...,...,...,...,...,...,...
81487,ZYTL,large_airport,Dalian Zhoushuizi International Airport,107.0,AS,CN,CN-21,Dalian (Ganjingzi),ZYTL,DLC,-1,"38.965719, 121.538477"
81488,ZYTN,medium_airport,Tonghua Sanyuanpu Airport,1200.0,AS,CN,CN-22,Tonghua,ZYTN,TNH,-1,"42.2538888889, 125.703333333"
81489,ZYTX,large_airport,Shenyang Taoxian International Airport,198.0,AS,CN,CN-21,"Hunnan, Shenyang",ZYTX,SHE,-1,"41.639801, 123.483002"
81491,ZYYJ,medium_airport,Yanji Chaoyangchuan Airport,624.0,AS,CN,CN-22,Yanji,ZYYJ,YNJ,-1,"42.8828010559, 129.451004028"
81492,ZYYK,medium_airport,Yingkou Lanqi Airport,-1.0,AS,CN,CN-21,Yingkou (Laobian),ZYYK,YKH,-1,"40.542524, 122.3586"

In [5]:
mapping = df[df["iata_code"] != -1][["name", "iata_code"]]

In [6]:
mapping.reset_index(drop=True, inplace=True)

In [7]:
mapping

                                         name iata_code
0                              Utirik Airport       UTK
1                     Ocean Reef Club Airport       OCA
2                               Cuddihy Field       CUX
3                       Crested Butte Airpark       CSE
4                            Columbus Airport       CUS
...                                       ...       ...
9098  Dalian Zhoushuizi International Airport       DLC
9099                Tonghua Sanyuanpu Airport       TNH
9100   Shenyang Taoxian International Airport       SHE
9101              Yanji Chaoyangchuan Airport       YNJ
9102                    Yingkou Lanqi Airport       YKH

[9103 rows x 2 columns]

In [8]:
mapping[mapping["iata_code"] == "DXB"]

                             name iata_code
5560  Dubai International Airport       DXB

In [45]:
import requests


response = requests.get("https://serpapi.com/playground?engine=google_flights&departure_id=DME&arrival_id=DXB&gl=us&hl=en&currency=USD&outbound_date=2024-12-22")

In [46]:
response.json()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [47]:
import json
import requests

response = requests.get("https://serpapi.com/playground?engine=google_flights&departure_id=DME&arrival_id=DXB&gl=us&hl=en&currency=USD&outbound_date=2024-12-22")
json_data = json.loads(response.text)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [14]:
import requests

response = requests.get("https://serpapi.com/search.json?engine=google_flights&departure_id=CDG,ORY&arrival_id=LAX&outbound_date=2024-12-22&return_date=2024-12-28&currency=USD&hl=en")

In [23]:
import serpapi

In [24]:
from serpapi import GoogleSearch

params = {
  "engine": "google_flights",
  "type": "2",
  "departure_id": "DME",
  "arrival_id": "DXB",
  "hl": "en",
  "gl": "us",
  "currency": "USD",
  "outbound_date": "2024-12-22",
  "api_key": ""
}

search = GoogleSearch(params)
results = search.get_dict()

In [31]:
results['search_metadata']['google_flights_url']

'https://www.google.com/travel/flights?hl=en&gl=us&curr=USD&tfs=CBwQAhoeEgoyMDI0LTEyLTIyagcIARIDRE1FcgcIARIDRFhCQgEBSAFwAZgBAg=='

'serpapi'

In [35]:
mapping

                                         name iata_code
0                              Utirik Airport       UTK
1                     Ocean Reef Club Airport       OCA
2                               Cuddihy Field       CUX
3                       Crested Butte Airpark       CSE
4                            Columbus Airport       CUS
...                                       ...       ...
9098  Dalian Zhoushuizi International Airport       DLC
9099                Tonghua Sanyuanpu Airport       TNH
9100   Shenyang Taoxian International Airport       SHE
9101              Yanji Chaoyangchuan Airport       YNJ
9102                    Yingkou Lanqi Airport       YKH

[9103 rows x 2 columns]

In [36]:
mapping.to_csv("airports_iata.csv")

In [37]:
def find_flights(from_city, to_city):
    mapping = pd.read_csv("data/airports_iata.csv", index_col=0)

In [41]:
mapping = pd.read_csv("data/airports_iata.csv", index_col=0)

In [46]:
from_city = "DME"

In [47]:
from_airport = None

for el in mapping["name"]:
    if from_city in el:
        print(el)

In [50]:
mapping[mapping["iata_code"] == "DME"]

                                  name iata_code
7520  Domodedovo International Airport       DME

In [ ]:
params = {
  "engine": "google_flights",
  "type": "2",
  "departure_id": "DME",
  "arrival_id": "DXB",
  "hl": "en",
  "gl": "us",
  "currency": "USD",
  "outbound_date": "2024-12-22",
  "api_key": ""
}

search = GoogleSearch(params)

In [ ]:
def find_flights(departure_airport, arrival_airport):
    today = datetime.date.today()
    params = {
    "engine": "google_flights",
    "type": "2",
    "departure_id": departure_airport,
    "arrival_id": arrival_airport,
    "hl": "en",
    "gl": "us",
    "currency": "USD",
    "outbound_date": today.strftime("%Y-%m-%d"),
    "api_key": ""
    }

search = GoogleSearch(params)

In [52]:
import datetime

today = datetime.date.today()

In [53]:
today

datetime.date(2024, 12, 22)

In [55]:
today.strftime("%Y-%m-%d")

'2024-12-22'